.busquedaPadre{
    display: flex;
    justify-content: center;
    align-items: center;
}

.busquedaHijo{
    width: 80%;
    margin: 20px;
    padding: 20px;
    border: 5px solid #ccc;
    border-radius: 30px;
    background-color: #fff;
    box-shadow: 0 0 10px #ccc;
}

.input{
    width: 60%;
    margin-right: 30px;
}