
<div class="busquedaPadre">
    <div class="busquedaHijo">
        <form class="row" (ngSubmit)="enviarIdPlayList()">
            <mat-form-field appearance="outline" class="input">
                <input 
                    matInput 
                    [(ngModel)]="idPlayList" 
                    name="idPlayList"
                    placeholder="Ingresa la URL de la PlayList">
            </mat-form-field>
            <button type="submit" mat-raised-button color="primary">Buscar</button>
        </form>
    </div>
</div>